@import "../../colors.scss";

.projectContainer {
    background-color: $formfield-color;
    width: 240px;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid $background2-color;
    box-shadow: -4px -4px 10px $shadow-color;

    h2 {
        margin-bottom: 1rem;
    }

    img {
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
    }
}