@import "@/styles/_variables";

.contactContainer {
    height: 100vh;
    align-content: center;

    &__title {
        margin-bottom: 0;
    }

    &__buttonsContainer {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin: 0.6rem 0;

        &__contactButton {
            display: inline-flex;
            transition: transform 0.2s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.formContainer {
    margin: 0 auto;
    max-width: 50ch;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.formField {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: bold;
    color: $foreground;
}

.inputField {
    font-family: "Quicksand", sans-serif;
    color: $muted-foreground;
    padding: 14px;
    border: none;
    border-radius: $border-radius;
    font-size: inherit;

    &::placeholder {
        color: $placeholder;
    }
}

.submitButton {
    background-color: $foreground;
    color: $muted;
    border: none;
    border-radius: $border-radius;
    padding: .8rem;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    width: 150px;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $primary;
    }
}

.formNotice {
    font-size: .8rem;
    font-weight: 600;
    margin: 0;
    color: $notice;
}

.status {
    background-color: $muted;
    color: $primary;
    border-radius: $border-radius;
    padding: .6rem;
    margin-bottom: 1rem;
    max-width: 47ch;
    margin: 0 auto 1rem auto;
    font-weight: bold;
    border: 2px solid $primary;
}

@media (max-width: 899px) {
    .inputField {
        font-size: 0.9rem;
    }
}