@import "@/styles/_variables";

.button {
    background-color: $foreground;
    border: none;
    border-radius: $border-radius;
    padding: 0.6rem;
    width: auto;
    transition: background-color 0.3s ease;

    &__link {
        color: white;
        font-weight: bold;
        text-decoration: none;

    }
    
    &:hover {
        background-color: $primary;
    }
}