.coverContainer {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.storyContainer {
    height: max(250px, 25vw);
    text-align: left;
}

.titleContainer {
    height: 20%;
    display: flex;
    align-items: end;
}

.title {
    margin: 0;
}

.linesContainer {
    height: 60%;
    display: flex;
    align-items: center;
}

.storyLine {
    font-size: 1.3rem;
    animation: fade-in-out 8s infinite;
    margin: 0;
}

@keyframes fade-in-out {

    0%,
    100% {
        opacity: 0;
    }

    10%,
    90% {
        opacity: 1;
    }
}

.navButtonsContainer {
    height: 20%;
}

.scrollButton {
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.prevLine {
    background-image: url('/images/icons/leftArrow.png');
}

.nextLine {
    background-image: url('/images/icons/rightArrow.png');
}

.profilePicture {
    max-width: max(250px, 25vw);
    border-radius: 50%;
    object-fit: cover;
}