@import "../colors";

.skillsContainer {
    display: flex;
    align-items: center;
}

.scrollButton {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: $text-color;
}

.skillsContent {
    overflow-x: auto;
    white-space: nowrap;
    width: calc(100% - 4rem);
    scrollbar-width: none;
}

.skillsList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    & li {
        flex: 0 0 auto;
        width: calc(100% / 6);
        text-align: center;
        padding: 10px;
    }

    & img {
        max-width: 100%;
        height: auto;
    }
}