@import "../colors";

.skillsContainer {
    display: flex;
    align-items: center;
}

.scrollButton {
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.scrollLeft {
    background-image: url('/images/icons/leftArrow.png');
}

.scrollRight {
    background-image: url('/images/icons/rightArrow.png');
}

.skillsContent {
    overflow-x: auto;
    white-space: nowrap;
    width: calc(100% - 4rem);
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.skillsList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    & li {
        flex: 0 0 auto;
        width: calc(100% / 6);
        text-align: center;
        padding: 10px;
    }

    & img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 899px) {
    .skillsList {
        & li {
            width: calc(100% / 3);
        }
    }
}