.projectsContainer {
    height: 100vh;
    align-content: center;
}

.projectsGallery {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.technologiesList {
    list-style: none;
    padding: 0;
}