@import "@/styles/_variables";

.coverContainer {
  min-height: 100vh;
  position: relative;
  top: -56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  position: relative;
  display: inline-block;
  width: clamp(300px, 55vw, 500px);

  &__title {
    font-size: clamp(2rem, 5vw + 1rem, 4rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    white-space: nowrap;
    width: auto;
  }

  &__underlineImage {
    display: block;
    width: 100%;
    height: auto;
  }
}

.scrollContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;

  &__text {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
  }

  &__arrow {
    width: 32px;
  }
}

@media (max-width: 1099px) {
  .coverContainer {
    top: 2rem;
  }
}
