@import "@/styles/_variables";

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  text-align: center;
  position: relative;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1349px) {
  .content {
    margin: 0 2rem;
  }
}
