@import "@/styles/_variables";

:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: $background1-color;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.6rem;
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 1rem;
  margin: 0;
}

@media (max-width: 699px) {
  body {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.2rem;
    margin: 1.6rem 0;
  }

  h2 {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 0.9rem;
  }
}