@import "../../colors.scss";

.experienceBoxContainer {
    background-color: $formfield-color;
    max-width: min(45vw, 50ch);
    padding: 1.2rem;
    border: 2px solid $background2-color;
    border-radius: 3px;

    &__skillList {
        list-style: none;
        padding: 0;

        &__listItem {
            text-align: left;

        }
    }
}

@media (max-width: 699px) {
    .experienceBoxContainer {
        max-width: min(90vw, 60ch);
    }
}