$background: #f7ede2;
$foreground: #84a59d;

$muted: #FCF7F3;
$muted-foreground: #bb9590;
$muted-yellow: #f7d5a1;
$muted-pink: #f6dcd3;

$primary: #f6bd60;
$notice: #f28482;
$placeholder: #CBCBCB;
$shadow: rgba(52, 47, 36, 0.1);

$border-radius: 5px;