$primary-color: #FF6D60;
$secondary-color: #f2be22;
$accent-color: #f29727;
$background1-color: #fff7e9;
$background2-color: #F7E7DC;
$formfield-color: #fffcf8;
$text-color: #625b4f;
$shadow-color: rgba(52, 47, 36, 0.1);

$border-radius: 5px;