@import "@/styles/_variables.scss";

.skillsContainer {
  position: relative;
  height: 100vh;
  align-content: center;
  background-color: $muted;
  &__transitionTop {
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    width: 100%;
  }

  &__transitionBottom {
    position: absolute;
    transform: translateX(-50%) rotate(180deg);
    bottom: 0;
    width: 100%;
  }
}

.skillsList {
  list-style: none;
  user-select: none;
  display: grid;
  grid-template-columns: repeat(6, calc(100% / 6));
  padding: 0;
  margin: 0;
  overflow: hidden;

  & li {
    padding: 10px;
  }

  & img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 899px) {
  .skillsList {
    grid-template-columns: repeat(3, calc(100% / 3));
  }
}
