@import "@/styles/_variables";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.title {
    font-family: "Delius Swash Caps", cursive;
    font-weight: 600;
}

.static {
    background-color: $background1-color;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.titleContainer {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.bannerButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.hamburger .line {
    width: 25px;
    height: 2px;
    background-color: $text-color;
    margin: 3px 0;
}

.navigationBar {
    display: flex;
    list-style: none;

}

.navigationBar.open {
    display: block;
}

.navLinks {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
}

.navLink {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    position: relative;
}

.navLink::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: currentColor;
    left: 0;
    bottom: -2px;
    transition: width 0.25s;
}

.navLink:hover::after {
    width: 100%;
}

@media (max-width: 899px) {
    .header {
        padding: 0;
    }

    .hamburger {
        display: flex;
    }

    .navigationBar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 24px;
        width: 14ch;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        border-radius: $border-radius;
    }

    .navigationBar.open {
        display: flex;
        background-color: $background1-color;
    }

    .navLinks {
        flex-direction: column;
        gap: 1rem;
    }

    .navLink {
        text-align: center;
        width: 100%;
    }

    .navLink:hover::after {
        margin: 0 30%;
        width: 40%;
    }
}